PORT=3001
DATABASE_URL=postgres://postgres:postgres@db:5432/control_accesos
JWT_SECRET=CAMBIA_ESTE_SECRET_EN_PRODUCCION
CORS_ORIGIN=http://localhost:3000,http://localhost:3002,http://localhost:5173
TABLET_API_KEY=CAMBIA_ESTA_API_KEY_EN_PRODUCCION